html{
    font-family: "akhand-sinhala", sans-serif;
}

body{
    min-height: 100vh;
    background-color: #ececec;
    overflow: hidden;
}

.spark {
    background-color: #de8900;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 30%;
    box-shadow: 0 0 5px #AB000B;
    z-index: 2;
}

.login-wrapper, 
.logo{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.login-wrapper{

    &::before{
        content: "";
        background-color: #d74120;
        position: absolute;
        top:70px;
        left:0px;
        height: 80%;
        width: 100%;
        filter: blur(4rem);
        transform: scale(0.7);
        z-index:-1;
        animation: flicker 3s linear reverse infinite;
    }
}

@keyframes flicker {
	0% {
		opacity: 0.4;
	}
	5% {
		opacity: 0.5;
	}
	10% {
		opacity: 0.6;
	}
	15% {
		opacity: 0.85;
	}
	25% {
		opacity: 0.5;
	}
	30% {
		opacity: 1;
	}
	35% {
		opacity: 0.1;
	}
	40% {
		opacity: 0.25;
	}
	45% {
		opacity: 0.5;
	}
	60% {
		opacity: 1;
	}
	70% {
		opacity: 0.85;
	}
	80% {
		opacity: 0.4;
	}
	90% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

.bg-image{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.bg-1,
.bg-2,
.bg-3,
.bg-4, 
.bg-5{
    position: absolute;
    width: 2700px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.smoke{
    position: absolute;
    width: 2700px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.bg-5{
    z-index: 10;
}

#logo-magix{
    filter: drop-shadow(30px 30px 60px black);
	animation: pulse 4s ease-in-out infinite;
}

@keyframes saturate{
    0% {
        filter: grayscale(35%);
    }
    25% {
        filter: grayscale(30%);
    }
    50% {
        filter: grayscale(45%);
    }
    75% {
        filter: grayscale(30%);
    }
    100%{
        filter: grayscale(40%);
    } 
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.01);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.01);
    }
}

.login-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;

    background-image: url(../img/magix-login-bg.png);
    background-size: cover;
    background-position: center;

    width: 45rem;
    height: 40rem;

    filter: drop-shadow(10px 10px 10px black);

}

.btn{
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.2rem 2.5rem;
    height: 2.3rem;
    color: #fef9dd;
    border:solid #2f1b10 0.5px;
    background-color: #754124;
    transition: background-color .17s ease,color .17s ease;
    box-shadow: rgba(6, 6, 6, 0.575) 0px 2px 8px 0px;
    
    &:hover{
        background-color: #3d2315;
    }
}


.quitter{
    background-color: rgb(242, 88, 88);
    
    &:hover{
        background-color: rgb(202, 71, 71);
    }
}

.input-field{ 
    border:0;
    background: #00000096;
    width: 15rem;
    height: 1.9rem;
    border-radius: 5px;
    padding-left: 9px;
    padding-bottom: 5px;
    color: #fef9ddb1;
    font-size: 0.95rem;
    font-weight: 400;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
    
    transition: all 400ms ease;
    
    &:hover{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2) inset, #fef9ddb1 0 0 0 2px;
    }
    
    &:focus{
        background: rgba(0, 0, 0, 0.6);
        outline: 0;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2) inset, #fef9ddb1 0 0 0 3px;
    }

    &:valid{
        background: rgba(0, 0, 0, 0.6);
    }

}

.input-wrapper{
    margin-top: 0.15rem;
}   

.login-label{
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #040301;
}

.lobby-bg{
    position: absolute;
    top:0px;
    left:0px;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bg-lobby.png);
    filter: drop-shadow(10px 10px 10px black);
    aspect-ratio: auto;
    background-size: cover;
    z-index: 10;
}

.greyscale{
    filter: grayscale(60%);
    width: 2500px;
}

.overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(193, 193, 193, 0.489);
    z-index: 800;
}

#deck-builder-frame{
    background-color: rgb(72, 49, 42);
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 1000;
}

#play-menu-wrapper{
    position: absolute;
    top: 50%;
    left: 25%;

    transform: translate(-60%, -50%);
    z-index: 15;
}

#mode-wrapper, #logout-wrapper, #play-menu-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#pvp-wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#lobby-wrapper{
    position: absolute;
    top:10%;
    left:40%;
    z-index: 12;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

#observer-wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#option-menu-wrapper{
    display: flex;
    gap: 1rem;
}

.error-message{
    color: white;
    width: 20rem;
    height: 3rem;
    background-color: rgb(175, 64, 64);

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.hidden{
    display: none;
}


/* 
    game.php
*/


#game-wrapper{
    position: absolute;
    top: 50%;
    left:50%;

    transform: translate(-50%, -50%);

    width: 100vw;
    height: 100vh;

    background-color: #de8900;
}

#opponent{
    position: absolute;
    top:0;
    left:0;

    width: 100vw;
    height: 25vh;

    background-color: #ffc972;
}

#user{
    position: absolute;
    top:75vh;
    left:0;

    width: 100vw;
    height: 25vh;

    background-color: #ffc972;

    #mana-wrapper{
        position: absolute;

        display: flex;
        align-items: center;
        
        top: calc(100% - 5vh);
        left: calc(100% - calc(5.5rem + 27vh) - 0.8rem);
        height: 4vh;
        width: calc(5.5rem + 27vh);
    
        background-color: #2e6ca5c5;

        #user-mana{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap:0.5rem;
            padding-left: 0.5rem;
        }

        .mana-count{
            background-color: #0f8bffc5;
            height: 2.5vh;
            width: 2.5vh;
            border-radius: 50%;
            border: 1px solid #122a41c5;
        }
    
    }
    
}

#battlefield{
    position: relative;
    top:25vh;
    left:0;

    width: 100vw;
    height: 50vh;

    background-color:#8b5245;

    #stat-wrapper{
        position: absolute;
        top:50%;
        left: 0.5%;

        transform: translateY(-50%);

        display: flex;
        flex-direction: column;
        gap:5rem;

        #opponent-life, #user-life{
            text-align: center;
            line-height: 8.5vh;

            padding: 0;
            margin: 0;

            background-color: #a71a0862;
            height: 8vh;
            width: 8vh;
            border-radius: 50%;
            font-size: 2rem;
            margin-left: 2vw;
        }
    }

    #turn-state-wrapper{
        display: flex;
        flex-direction: row;
        gap: 1rem;

        #turn-timer{
            font-size: 3rem;
        }

        #end-turn{
            display: inline-block;
            outline: none;
            border-radius: 5px;
            font-size: 0.9rem;
            font-weight: 600;
            padding: 0.2rem 1rem;
            height: 2.3rem;
            color: #fef9dd;
            border:solid #2f1b10 0.5px;
            background-color: #754124;
            transition: background-color .17s ease,color .17s ease;
            box-shadow: rgba(6, 6, 6, 0.575) 0px 2px 8px 0px;
            
            &:hover{
                background-color: #3d2315;
            }

        }
    }

    #opponent-field{
        position: absolute;
        width: 60vw;
        height: 24.25vh;

        top: 0.5vh;
        left: 50%;
        transform: translateX(-50%);

        background-color: #856f64;

    }

    #user-field{
        position: absolute;
        width: 60vw;
        height: 24.25vh;

        top: calc(100% - 24.75vh);
        left: 50%;
        transform: translateX(-50%);

        background-color: #856f64;

    }


}

#user-hand{
    position: absolute;
    width: auto;
    height: 24.25vh;

    top: calc(100% - 24.75vh);
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .carte-wrapper{
        height: 90%;
        width: calc(70vw/8 - 1rem);
    
        background-color: #04030144;
        border-radius: 0.5rem;
    
    }
}





