/*
    Fichier: global.scss
    
    Ce fichier contient les styles globaux pour l'application web.
    Il définit les styles pour le corps de la page, les éléments de connexion, les boutons, les champs de saisie, etc.
    Les styles sont organisés en classes et utilisent des sélecteurs imbriqués pour la hiérarchie des styles.
    Les commentaires sont utilisés pour décrire chaque section de styles et fournir des informations supplémentaires.

    Utilisation du préprocesseur SCSS pour la compilation en CSS et la facilité de développement.
        
    Auteur: Julien Coulombe-Morency
    Date: 2021-04-12
    Version: 1.0
    Contexte: Projet Magix - Programmation Web 3

*/

html{
    font-family: "akhand-sinhala", sans-serif;
}

body{
    min-height: 100vh;
    background-color: #ececec;
    overflow: hidden;
}

.spark {
    background-color: #de8900;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 30%;
    box-shadow: 0 0 5px #AB000B;
    z-index: 2;
}

.login-wrapper{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-style: italic;
    font-size: 2rem;
    color: #fef9dd;

    z-index: 400;

    #logo-magix{
        filter: drop-shadow(30px 30px 60px black);
    }
}


.login-wrapper{

    &::before{
        content: "";
        background-color: #d74120;
        position: absolute;
        top:70px;
        left:0px;
        height: 80%;
        width: 100%;
        filter: blur(4rem);
        transform: scale(0.7);
        z-index:-1;
        animation: flicker 3s linear reverse infinite;
    }
}

.bg-image{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.bg-1,
.bg-2,
.bg-3,
.bg-4, 
.bg-5{
    position: absolute;
    height: auto;
    width: 105vw;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.smoke{
    position: absolute;
    width: 2700px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.bg-5{
    z-index: 10;
}



.btn{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "akhand-sinhala", sans-serif;
    
    height: 6.68vh;
    width: 24vh;
    padding-top: 0.3rem;

    color: #fef9dd; 
    border: none;
    background: url(../img/btn.png) center center no-repeat; 
    background-size: cover; 
    transition: background-color .17s ease, color .17s ease;

    filter: drop-shadow(2px 2px 10px black);
  }


.login-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;

    background-image: url(../img/magix-login-bg.png);
    background-size: cover;
    background-position: center;

    width: 65vh;
    height: 60vh;

    padding-top: 1vh;

    filter: drop-shadow(10px 10px 10px black);

    .btn{
        height: 5vh;
        width: 17.96vh;
        font-size: 1.2rem;
    }

    .error{
        position: relative;
        top: -15px;
        color: #d74120;
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        font-style: italic;
    }

}

.input-field{ 
    border:0;
    background: #00000096;
    width: 15rem;
    height: 1.9rem;
    border-radius: 5px;
    padding-left: 9px;
    padding-bottom: 5px;
    color: #fef9ddb1;
    font-size: 0.95rem;
    font-weight: 400;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
    
    transition: all 400ms ease;
    
    &:hover{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2) inset, #fef9ddb1 0 0 0 2px;
    }
    
    &:focus{
        background: rgba(0, 0, 0, 0.6);
        outline: 0;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2) inset, #fef9ddb1 0 0 0 3px;
    }

    &:valid{
        background: rgba(0, 0, 0, 0.6);
    }

}

.input-wrapper{
    margin-top: 0.15rem;
}   

.login-label{
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #040301;
}

.lobby-bg{
    position: absolute;
    top:0px;
    left:0px;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bg-lobby.png);
    filter: drop-shadow(10px 10px 10px black);
    aspect-ratio: auto;
    background-size: cover;
    z-index: 10;
}

.swirl{
    position: absolute;
    top:-40vh;
    left: 0;

    width: 98vw;
    height: 98vw;

    opacity: 0.7;
    
    z-index: 10;

}

#utils-wrapper-bg{
    position: absolute;
    top: 52%;
    left: 50%;

    height: 42vw;
    width: 65vw;

    background-image: url(../img/ui/utils-bg.png);
    background-size: cover;

    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5) ;
    transition: all 500ms ease-in-out;

    z-index: 400;

    filter: drop-shadow(2px 2px 10px black);
}

#deck-builder-frame{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    z-index: 1000;
}

#stats-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    z-index: 1000;
}

#stats-chart{
    position: absolute;
    top: -30vh;
    left: 50%;

    font-size: 2.2rem;
    color: #fef9dd;

    transform: translateX(-50%);
    z-index: 1000;

    h1{
        text-align: center;
        margin-bottom: 1vh;
    }

    #stats{
        position: absolute;
        top:20vh;

        text-align: center;
        font-size: 1.8rem; 
    }

}

.btn-wrapper{
    position: absolute;

    display: flex;
    flex-direction: row;
    gap: 2rem;

    top: 20vh;
    left: 50%;

    transform: translateX(-50%);

    z-index: 1000;
}


#play-menu-bg{
    position: absolute;
    top: 5.6vh;
    left: 5vw;

    height: 90vh;
    width: 49.33vh;

    background-image: url(../img/lobby-ui.png);
    background-size: cover;

    transform-origin: left;
    transform: scaleY(1);
    transition: all 500ms ease-in-out;

    z-index: 10;

    filter: drop-shadow(2px 2px 10px black);

    .play-menu-wrapper{
        position: absolute;
        top: 15%;
        left: 11.7vh;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        width: 25vh;
        z-index: 15;
    }
}

.mode-wrapper, .logout-wrapper, .play-menu-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 107vh;
}

#lobby-wrapper{
    position: absolute;
    top:10%;
    left:40%;
    z-index: 12;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

#utils-menu-bg{
    position: absolute;
    top: 34.5vh;
    left: 69.5vw;

    background-image: url(../img/lobby-ui-short.png);
    background-size: cover;

    transform-origin: right;
    transform: scaleY(1);
    transition: all 500ms ease-in-out;

    height: 59vh;
    width: 49.33vh;

    filter: drop-shadow(2px 2px 10px black);  
    
    z-index: 10;
    
    .utils-menu-wrapper{
        position: absolute;
        top:12vh;
        left:12vh;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        z-index: 15;
    }

    .observer-wrapper{
        margin-top: 2vw;
        margin-left: -0.4vw;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        background-color: #04030167;
        padding: 1vw 0.5vw;
        border-radius: 0.5vw;

        align-items: center;
        justify-content: center;
    }
}

.in-game {
    position: absolute;
    top: 5vh;
    left: 5vh;

    width: 69.32vh;
    height: 38vh;

    transition: all 500ms ease-in-out;
    opacity: 0;

    background-image: url(../img/lobby-ui-chat.png);
    background-size: cover;
    z-index: 10;

    .chat{
        position: absolute;
        top: 2.5vw;
        left: 2.2vw;

        width: 30vw;
        height: 22vh;

        transform-origin: bottom;

        padding: 0.5rem;
    }

    filter: drop-shadow(2px 2px 10px black);
}


#chat-box{
    position: absolute;
    top: 58vh;
    left: 31vw;

    width: 69.32vh;
    height: 38vh;

    transform-origin: bottom;
    transform: scaleY(0);

    transition: all 500ms ease-in-out;
    opacity: 0;

    background-image: url(../img/lobby-ui-chat.png);
    background-size: cover;
    z-index: 10;

    .chat{
        position: absolute;
        top: 5vw;
        left: 4.3vw;

        width: 30vw;
        height: 20vh;

        transform-origin: bottom;

        padding: 0.5rem;
    }

    filter: drop-shadow(2px 2px 10px black);

}

#game-mode-bg{
    position: absolute;
    top:50%;
    left:50%;

    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 500ms ease-in-out;

    width: 82vh;
    height: 45vh;
    background-image: url(../img/lobby-ui-chat.png);
    background-size: cover;

    z-index: 350;
    
    .game-mode-wrapper{
        position: absolute;
        top:50%;
        left:50%;

        transform: translate(-50%, -50%);

        width: 82vh;
        height: 45vh;

        display: flex;
        flex-direction: column;
        gap: 2vw;
        align-items: center;
        justify-content: center;

        color: #fef9dd;
        font-size: 3rem;
        font-weight: 600;

        z-index: 350;
        
        .btn-wrapper{
            display: flex;
            flex-direction: row;
            gap: 3.5vw;
        }
    
        #private{
            padding: 1rem 3rem;
            background-color: #04030153;
            border-radius: 0.5rem;
    
            display: flex;
            flex-direction: column;
            gap: 1vw;
    
            font-size: 1.5rem;
            font-weight: 400;
            font-style: italic;
    
            align-items: center;
            justify-content: center;
        }
    }


    filter: drop-shadow(2px 2px 10px black);
}

#greetings{
    position: absolute;
    top: 15%;
    left: 50%;

    text-align: center;

    transform: translate(-50%, -50%);

    color: #ededed;

    font-size: 4rem;
    font-weight: 700;
    font-style: italic;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.541);

    z-index: 1000;
}


#error-message{
    position: absolute;
    top: 20%;
    left: 50%;

    transform: translate(-50%, -50%);

    color: #d74120;

    font-size: 3rem;
    font-weight: 700;
    font-style: italic;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.541);

    z-index: 1000;
}

#error-message-game{
    position: absolute;
    top: 67%;
    left: 50%;

    text-align: center;

    transform: translate(-50%, -50%);

    color: #ededed;
    background-color: #040301a4;
    padding: 0.5vw 3vw;
    border-radius: 1vw;

    font-size: 4rem;
    font-weight: 700;
    font-style: italic;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.541);

    z-index: 1000;
}

/* 
    loading
*/

.loading{
    position: absolute;
    top:0;
    left:0;
    
    width: 100vw;
    height: 100vh;
    
    background-color: #040301;

    z-index: 1000;

    .overlay-txt{
        position: absolute;
        top:50%;
        left:50%;

        transform: translate(-50%, -50%);

        color: #fef9dd;
        font-size: 3rem;
        font-weight: 700;
    }
}

/* 
    end-of-game
*/

#end-of-game{

    .modal-box{
        position: absolute;
        top:50%;
        left:50%;
    
        transform: translate(-50%, -50%);
    
        width: 45vw;
        height: auto;
    
        z-index: 200;
    
    }

    .end-of-game-wrapper{
        position: absolute;
        top:50%;
        left:50%;

        transform:translate(-50%, -50%);

        display: flex;
        flex-direction: column;
        
        gap: 2rem;
        align-items: center;
        justify-content: center;

        color: #fef9dd;
        font-size: 3rem;
        font-weight: 600;

        z-index: 250;
    }

    #username{
        font-size: 3.5rem;
        font-weight: 800;
        color: #8f21df;
    }

    #end-of-game-title{
        font-size: 4rem;
        font-weight: 700;

        color: #fef9dd;
    }
}


/* 
    game.php
*/

#halo{
    position: absolute;
    top:48%;
    left:50%;

    transform: translate(-50%, -50%) rotate(0deg);

    width: 65vh;
    height: 65vh;

    opacity: 0.6;

    z-index: 0;
}

.modal-overlay{
    position: absolute;
    top:0;
    left:0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.95);

    z-index: 100;

    transition: all ease-in-out 400ms;

    .modal-box{
        position: absolute;
        top:50%;
        left:50%;
    
        transform: translate(-50%, -50%);
    
        width: 30vw;
        height: auto;
    
        z-index: 200;
    
    }

    #surrender{
        position:absolute;
        top:50%;
        left:50%;
    
        transform: translate(-50%, -50%);
    
        z-index: 250;
    }
}



.game-bg{
    position: absolute;
    top:0;
    left:0;

    width: 100vw;
    height: 100vh;

    background-image: url(../img/ui/game-board.png);
    background-size: cover;
    background-position: center;

}

#game-wrapper{
    position: absolute;
    top: 50%;
    left:50%;

    transform: translate(-50%, -50%);

    width: 100vw;
    height: 100vh;
}

#opponent{
    position: absolute;
    top:0;
    left:0;

    width: 100vw;
    height: 10vh;

}

#opponent-hero{
    position: absolute;
    top: 0;
    left: calc(100vw - 25vh);

    width: 25vh;
    height: 25vh;

    z-index: 15;

    filter:drop-shadow(2px 2px 10px black);

    transition: all ease-in-out 400ms;

    &:hover{
        filter: drop-shadow(0 0 15px rgb(188, 100, 6));       
    }
}

#user{
    position: absolute;
    top:65vh;
    left:0;

    width: 100vw;
    height: 35vh;

    #mana-wrapper{
        position: absolute;

        display: flex;
        align-items: center;
        
        top: calc(100% - 5vh);
        left: calc(100% - calc(5.5rem + 27vh) - 0.8rem);
        height: 4vh;
        width: calc(5.5rem + 27vh);
    
        background-color: #2e6ca5c5;

        #user-mana{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 0.2rem;
        }

        .mana-count{
            background-image: url(../img/ui/mana-crystal.png);
            background-size:cover;
            background-position: center;
            height: 4vh;
            width: 4vh;
            filter: drop-shadow(1px 1px 3px black);

        }
    
    }
    
}

#battlefield{
    position: relative;
    top:10vh;
    left:0;

    width: 100vw;
    height: 65vh;

    #stat-wrapper{
        position: absolute;
        top:50%;
        left: 0.5%;

        transform: translateY(-50%);

        display: flex;
        flex-direction: column;
        gap:5rem;

    }

    #turn-state-wrapper{
        display: flex;
        flex-direction: row;
        gap: 1rem;

        #turn-timer{
            position: absolute;
            top: 3.4vh;
            left:8.6vw;

            text-align: center;
            line-height: 9vh;

            padding: 0;
            margin: 0;

            background-image: url(../img/timer.png);
            background-size: cover;
            background-position: center;

            height: 8.5vh;
            width: 8.5vh;
            font-size: 3rem;

            color: #ededed;
            -webkit-text-stroke-width: 1.5px;
            -webkit-text-stroke-color: black;
        
            filter: drop-shadow(1px 1px 5px black);
        }

        #end-turn{
            position: absolute;
            top: 19vh;
            left: 2.8vw;
            height: 5vh;
            width: 17.96vh;
            font-size: 0.9rem;
            box-shadow: rgba(6, 6, 6, 0.575) 0px 2px 8px 0px;

        }
    }

    #opponent-field{
        position: absolute;
        width: 80vw;
        height: 24.25vh;

        top: 1.5vh;
        left: 50%;
        transform: translateX(-50%);

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }

    #user-field{
        position: absolute;
        width: 80vw;
        height: 24.25vh;

        top: calc(100% - 36.75vh);
        left: 50%;
        transform: translateX(-50%);

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }
}

#user-hero{
    position: absolute;
    top: calc(100% - 30vh);
    left: 0;

    width: 30vh;
    height: 30vh;

    z-index: 15;

    filter:drop-shadow(2px 2px 10px black);

    transition: all ease-in-out 400ms;

    &:hover{
        transform:scale(1.02);
        filter: drop-shadow(0 0 15px rgb(188, 100, 6));       
    }
}

#user-hand{
    position: absolute;
    width: auto;
    height: 24.25vh;

    top: calc(100% - 30vh);
    left: 50%;
    transform: translateX(-50%) scale(0.8);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .carte-wrapper:hover{
        scale: 1.2;
        transform: translateY(-50px);
        z-index: 1000;
        filter: drop-shadow(5px 5px 50px rgb(188, 100, 6));       
    }

}

#opponent-life{
    position: absolute;
    top: 15vh;
    left: calc(100vw - 26vh);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 8vh;
    width: 8vh;
    border-radius: 50%;
    font-size: 3rem;
    margin-left: 2vw;

    color: #ededed;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;

    filter: drop-shadow(1px 1px 5px black);

    background-image: url(../img/ui/health-crystal.png);
    background-size: cover;
    background-position: center;

    z-index: 300;

}

#user-life{
    position: absolute;
    top: calc(100% - 12vh);
    left: -2vh;

    text-align: center;
    line-height: 10.5vh;

    padding: 0;
    margin: 0;

    background-image: url(../img/ui/health-crystal.png);
    background-size: cover;
    background-position: center;

    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    font-size: 3rem;
    margin-left: 2vw;

    color: #ededed;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;

    filter: drop-shadow(1px 1px 5px black);

    z-index: 300;
}

#user-mana{
    position: absolute;
    top: calc(100% - 12vh);
    left: 14vh;

    text-align: center;
    line-height: 10.5vh;

    padding: 0;
    margin: 0;

    background-image: url(../img/ui/mana-crystal.png);
    background-size: cover;
    background-position: center;

    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    font-size: 3rem;
    margin-left: 2.1vw;

    color: #ededed;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;

    filter: drop-shadow(1px 1px 5px black);

    z-index: 300;
}

/*
    Template de cartes:
*/

.carte-wrapper{
    position: relative;
    height: 24.25vh;
    width: 16.60vh;
    background-color: rgba(37, 37, 2, 0.961);
    border-radius: 2rem;

    margin: 0 0.05rem;
    z-index: 15;

    transition: all ease-in-out 400ms;

    filter: drop-shadow(2px 2px 10px black);    
    
    .attack{
        position:absolute;
        top: 3.5%;
        left: 8%;

        color: whitesmoke;

        font-size: 3.1vh;
        font-weight: 700;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;

        z-index: 15;
    }

    .carte-frame{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 10;
    }

    .minion-image{
        position: relative;
        width: 100%;
        left: 0;

        z-index: 5;
    }

    .card-cost{
        position:absolute;
        top: 57%;
        left: 47%;

        font-size: 2.8vh;
        font-weight: 700;

        color: whitesmoke;

        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: black;

        z-index: 15;
    }

    .card-hp{
        position:absolute;
        top: 3.5%;
        left: 84.7%;

        font-size: 3.1vh;
        font-weight: 700;

        color: whitesmoke;

        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
        z-index: 15;

    }

    .card-text-wrapper{
        position: absolute;
        top: 68%;
        left: 14%;
        width: 70%;

        display: flex;
        flex-direction: column;
        gap:0.3rem;

        font-size: 1.3vh;

        .card-attributes{
            font-weight: bold;
        }

        z-index: 15;

    }

}

.is-useable{
    border: solid 3px rgb(151, 47, 255);
    border-radius: 15px;

}

/*
    animations
*/


@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    25% {
        transform: translate(-50%, -50%) scale(1.01);
    }
    50% {
        transform: translate(-50%, -50%) scale(1);
    }
    75% {
        transform: translate(-50%, -50%) scale(1.01);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
  
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flicker {
	0% {
		opacity: 0.4;
	}
	5% {
		opacity: 0.5;
	}
	10% {
		opacity: 0.6;
	}
	15% {
		opacity: 0.85;
	}
	25% {
		opacity: 0.5;
	}
	30% {
		opacity: 1;
	}
	35% {
		opacity: 0.1;
	}
	40% {
		opacity: 0.25;
	}
	45% {
		opacity: 0.5;
	}
	60% {
		opacity: 1;
	}
	70% {
		opacity: 0.85;
	}
	80% {
		opacity: 0.4;
	}
	90% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}


/*
    helper classes
*/


.fade-in {
    animation: fadeIn ease 500ms;
    -webkit-animation: fadeIn ease 500ms;
    -moz-animation: fadeIn ease 500ms;
    -o-animation: fadeIn ease 500ms;
    -ms-animation: fadeIn ease 500ms;
}

.global-fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

.fade-out {
    animation: fadeOut ease 500ms;
    -webkit-animation: fadeOut ease 500ms;
    -moz-animation: fadeOut ease 500ms;
    -o-animation: fadeOut ease 500ms;
    -ms-animation: fadeOut ease 500ms;
}

.pulse {
    animation: pulse 3s ease-in-out infinite;
    -webkit-animation: pulse 3s ease-in-out infinite;
    -moz-animation: pulse 3s ease-in-out infinite;
    -o-animation: pulse 3s ease-in-out infinite;
    -ms-animation: pulse 3s ease-in-out infinite;
}

.grow-bot {
    transform: scaleY(1) !important;
    opacity: 1 !important;
}

.grow-side {
    transform: scaleX(0) !important;
    opacity:0 !important;
}

.grow-in {
    transform: translate(-50%, -50%) scale(1) !important;
    opacity: 1 !important;
}

.fade-in{
    opacity: 1 !important;
}

.is-turn{
    filter: drop-shadow(2px 2px 30px rgb(166, 0, 255)) !important;
}

.greyscale{
    filter: grayscale(60%);
    width: 2500px;
}

.greyscale-half{
    filter: grayscale(30%);
    width: 2500px;
}

.hidden{
    display: none !important;
}




